@import './base.css';

#app {
    width: 100vw;
    height: calc(100vh - 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

img {
    -webkit-user-drag: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    background-color: #1f2029;
    overflow-x: hidden
}

:root {
    --code-layout-titlebar-background: #2e2f3b;
    --code-layout-color-background-light: #33343d;
    --code-layout-color-background: #1f2029;
    --code-layout-color-background-second: #11121b;
    --code-layout-color-border-background: #4d4f5c;
    --code-layout-color-text-light: #fff9;
    --code-layout-color-background-second: #242633;

}

.monaco-editor, .monaco-editor-background {
    --vscode-editor-background: #191a22;
}

.monaco-editor .margin{
    --vscode-editorGutter-background: #13141a;
}