@mixin center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin circle($size) {
    object-fit: cover; // 截取中间正方形
    height: $size;
    width: $size;
    border-radius: 50%;
    overflow: hidden;
}
